@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.result {
  color:var(--primary-color);
  text-align: left;
  font-size: 1.6em;
  margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

form input {
  align-self: center;
  font-size: 1em;
  height: 20px;
  min-width: 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  align-self: center;
  margin-top: 30px;
  
  font-size: 1.2rem;
  color: #fff;
  
  min-height: 50px;
  min-width: 50px;
  border: none;
  border-radius: 10px;
  background: var(--primary-color);
  cursor: pointer;
}

form button:hover {
  background: var(--primary-color-darker);
}
